.create-window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.create-window {
  position: relative;
  background-color: white;
  width: 500px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  display: flex; /* Adicionado */
  flex-direction: column; /* Adicionado */
  align-items: center; /* Adicionado */
}

.create-window input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.create-window button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.create-window button:hover {
  background-color: #45a049;
}

.create-window .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex; /* Adicionado */
  align-items: center; /* Adicionado */
  justify-content: center; /* Adicionado */
}

.create-window .close-button-text {
  display: inline-block; /* Adicionado */
  width: 100%; /* Adicionado */
}

.fruit-image {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

